@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply font-inter;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:scale-95 transition-all disabled:opacity-40 disabled:cursor-not-allowed;
}

.slick-dots {
  @apply !flex justify-center w-full;
}

.slick-dots .slick-active div {
  @apply bg-red-500 scale-150;
}

.slick-dots li{
  @apply !h-3 !w-3 !mx-1;
}
.slick-dots div {
  @apply !m-0 !-mt-4 transition-all duration-500;
}

.group-sm-card .menu-item{
  @apply h-32;
}

.scrollbar-hidden::-webkit-scrollbar{
  width: 0;
}